.visor {
    background-color: #f70a71;
}

.button {

    width:15%;
    height: 15%;
    background-color: #74ab90;

}

.calculadora {
    position: relative;
    display: auto;
    justify-content: center;
    background-color: #1a0c12;
    height: 24%;
    width: 12%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

body {
    position: relative;
    background-color: #ffb145;
}

#texto {
    margin-top: 2%;
    text-align: center;
}

#Calc1{
    position: absolute;
    display: flex;
    margin-top: 10%;
    width: 20%;
    height: 30%;
}

#Menu{
    margin-left: 5%;
    margin-top: 5%;
}